<div>
  <h2 id="page-heading" data-cy="InterfaceBoardHeading">
    <span jhiTranslate="controTxApp.interfaceBoard.home.title">Interface Boards</span>

    <div class="d-flex justify-content-between">
      <form class="form-inline">
        <input
          type="text"
          [(ngModel)]="filter.mac"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="filterMac"
          placeholder="Ingrese la Mac"
        />
        <div class="mt-2">
          <button type="submit" [disabled]="!containsFilter()" class="btn btn-primary" (click)="filterBtn()">Realizar Búsqueda</button>
          <button type="button" [disabled]="!containsFilter()" class="btn btn-primary" (click)="cleanFilters()">Limpiar Filtros</button>
        </div>
      </form>

      <div>
        <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="controTxApp.interfaceBoard.home.refreshListLabel">Refrescar lista</span>
        </button>
        <button class="btn btn-primary jh-create-entity create-bonus" (click)="openModal(createBoardModalTpl)">
          <fa-icon icon="plus"></fa-icon>
          <span> Crear Tarjetas Por Archivo </span>
        </button>
      </div>
    </div>
  </h2>

  <ng-template #createBoardModalTpl let-modal>
    <div class="mt-5 mx-5" *ngIf="errorMsg !== ''">
      <ngb-alert [type]="typeAlertErrorMsg">
        <strong
          [ngClass]="{ 'text-dark': typeAlertErrorMsg === 'warning' || typeAlertErrorMsg === 'success' || typeAlertErrorMsg === 'danger' }"
          class="h5"
        >
          {{ errorMsg }}
        </strong>
      </ngb-alert>
    </div>

    <form
      class="p-5"
      name="formCreateInterfaceBoard"
      role="form"
      novalidate
      [formGroup]="formCreateInterfaceBoard"
      aria-label="assgin boards"
    >
      <h3 class="pb-3" data-cy="AssingBoardHeading">Crear Tarjetas en Lotes</h3>
      <div class="content">
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controTxApp.interfaceBoard.receptionOrder" for="field_receptionOrder"
            >Reception Order</label
          >
          <select class="form-control" id="field_receptionOrder" formControlName="receptionOrderOption" (change)="onSelectOption()">
            <option *ngIf="!formCreateInterfaceBoard.get('receptionOrderOption')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="receptionOrderOption" *ngFor="let receptionOrderOption of receptionOrdersSharedCollection">
              {{ receptionOrderOption.providerLotNumber }}
            </option>
          </select>
        </div>

        <jhi-upload-board *ngIf="formCreateInterfaceBoard.get('receptionOrderOption')!.value"> </jhi-upload-board>

        <div class="container p-3 d-flex justify-content-between" *ngIf="quantityOfErrors > 0">
          <button type="submit" class="btn btn-primary" (click)="download()">
            <fa-icon icon="save"></fa-icon>
            Descargar archivo
          </button>
          <p class="text-danger">{{ quantityOfErrors }} Errores en la creacion de los tarjetas</p>
        </div>
        <hr />

        <div class="d-flex justify-content-between">
          <button
            [disabled]="formCreateInterfaceBoard.get('receptionOrderOption')!.invalid || macs!.length == 0"
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            class="btn btn-success btn-block"
            (click)="createBoardsToCreateForFile()"
          >
            <fa-icon icon="save"></fa-icon>
            &nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>

          <button type="button" (click)="cleanformCreateInterfaceBoard()" (click)="modal.close()" class="btn btn-danger btn-block">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Finalizar</span>
          </button>
        </div>
      </div>
    </form>
  </ng-template>

  <div class="mt-5 mx-5" *ngIf="errorMsg !== ''">
    <ngb-alert [type]="typeAlertErrorMsg">
      <strong
        [ngClass]="{ 'text-dark': typeAlertErrorMsg === 'warning' || typeAlertErrorMsg === 'success' || typeAlertErrorMsg === 'danger' }"
        class="h5"
      >
        {{ errorMsg }}
      </strong>
    </ngb-alert>
  </div>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="interfaceBoards?.length === 0">
    <span jhiTranslate="controTxApp.interfaceBoard.home.notFound">Ningún Interface Boards encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="interfaceBoards && interfaceBoards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.interfaceBoard.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipAddress" *ngIf="canView(['ROLE_ADMIN'])">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.interfaceBoard.ipAddress">Ip Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hash" *ngIf="canView(['ROLE_ADMIN'])">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.interfaceBoard.hash">Hash</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mac">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.interfaceBoard.mac">Mac</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="receptionOrder.providerLotNumber">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.interfaceBoard.receptionOrder">Reception Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="receptionOrder.providerLotNumber">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.interfaceBoard.validateInterface">Tarjeta validada</span>
              <fa-icon class="p-2" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let interfaceBoard of interfaceBoards; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/interface-board', interfaceBoard.id, 'view']">{{ interfaceBoard.id }}</a>
          </td>
          <td *ngIf="canView(['ROLE_ADMIN'])">{{ interfaceBoard.ipAddress }}</td>
          <td *ngIf="canView(['ROLE_ADMIN'])">{{ interfaceBoard.hash }}</td>
          <td>{{ interfaceBoard.mac }}</td>
          <td>
            <div *ngIf="interfaceBoard.receptionOrder">
              <a [routerLink]="['/reception-order', interfaceBoard.receptionOrder.id, 'view']">{{
                interfaceBoard.receptionOrder.providerLotNumber
              }}</a>
            </div>
          </td>
          <td>
            <ng-container *ngIf="interfaceBoard.isValidated; else notValidated">
              <button type="submit" class="btn btn-success btn-sm" (click)="technicalSupport()">
                <fa-icon icon="check"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </ng-container>
            <ng-template #notValidated>
              <button type="submit" class="btn btn-danger btn-sm" (click)="update(interfaceBoard)">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </ng-template>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/interface-board', interfaceBoard.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/interface-board', interfaceBoard.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button
                type="submit"
                (click)="delete(interfaceBoard)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="interfaceBoards && interfaceBoards.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
