<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="dataSheetInterface">
      <h2 data-cy="dataSheetInterfaceDetailsHeading">
        <span jhiTranslate="controTxApp.dataSheetInterface.detail.title">Data Sheet Interface</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="controTxApp.dataSheetInterface.id">Id</span></dt>
        <dd>
          <span>{{ dataSheetInterface.id }}</span>
        </dd>
        <dt><span jhiTranslate="controTxApp.dataSheetInterface.colcircuitosLotNumber">Colcircuitos Lot Number</span></dt>
        <dd>
          <span>{{ dataSheetInterface.colcircuitosLotNumber }}</span>
        </dd>
        <dt><span jhiTranslate="controTxApp.dataSheetInterface.orderAmount">Order Amount</span></dt>
        <dd>
          <span>{{ dataSheetInterface.orderAmount }}</span>
        </dd>
        <dt><span jhiTranslate="controTxApp.dataSheetInterface.amountReceived">Amount Received</span></dt>
        <dd>
          <span>{{ dataSheetInterface.amountReceived }}</span>
        </dd>
        <dt><span jhiTranslate="controTxApp.dataSheetInterface.remission">Remission</span></dt>
        <dd>
          <span>{{ dataSheetInterface.remission }}</span>
        </dd>
        <dt><span jhiTranslate="controTxApp.dataSheetInterface.entryDate">Entry Date</span></dt>
        <dd>
          <span>{{ dataSheetInterface.entryDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="controTxApp.dataSheetInterface.iesOrderNumber">Ies Order Number</span></dt>
        <dd>
          <span>{{ dataSheetInterface.iesOrderNumber }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/data-sheet-interface', dataSheetInterface.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
