<!-- <div class="footer">
  <p jhiTranslate="footer">Pie de página</p>
</div> -->
<div class="footer">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-floating m-1"
          style="border-radius: 50%; background-color: #5579ee"
          href="https://www.facebook.com/IESonline-251992128319187 "
          target="_blank"
        >
          <img style="height: 1em" src="../../../content/images/facebook-f-brands.svg "
        /></a>

        <!-- Twitter -->
        <a
          class="btn btn-floating m-1"
          style="border-radius: 50%; background-color: #55acee"
          href="https://instagram.com/solucionesies?igshid=NTc4MTIwNjQ2YQ=="
          target="_blank"
        >
          <img style="height: 1em" src="../../../content/images/instagram-brands.svg "
        /></a>

        <!-- Google -->
        <a
          class="btn btn-floating m-1"
          style="border-radius: 50%; background-color: #dd4b39"
          href="https://www.youtube.com/@solucionesIES"
          target="_blank"
        >
          <img style="height: 0.8em" src="../../../content/images/youtube-brands.svg "
        /></a>

        <!-- Instagram -->
        <a
          class="btn btn-floating m-1"
          style="border-radius: 50%; background-color: #ac2bac"
          href="https://solucionesies.co/"
          target="_blank"
        >
          <img style="height: 1em" src="../../../content/images/globe-americas-solid.svg " />
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="text-white" href="https://solucionesies.co/" target="_blank">solucionesies.co</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
