<div>
  <h2 id="page-heading" data-cy="OperatorHeading">
    <span jhiTranslate="controTxApp.operator.home.title">Operators</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controTxApp.operator.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-operator"
        [routerLink]="['/operator/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controTxApp.operator.home.createLabel"> Crear nuevo Operator </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="operators?.length === 0">
    <span jhiTranslate="controTxApp.operator.home.notFound">Ningún Operators encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="operators && operators.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.operator.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.operator.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nit">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.operator.nit">Nit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="brand.name">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.operator.brand">Brand</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operator of operators; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/operator', operator.id, 'view']">{{ operator.id }}</a>
          </td>
          <td>{{ operator.name }}</td>
          <td>{{ operator.nit }}</td>
          <td>
            <div *ngIf="operator.brand">
              <a [routerLink]="['/brand', operator.brand.id, 'view']">{{ operator.brand.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/operator', operator.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/operator', operator.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button
                type="submit"
                (click)="delete(operator)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="operators && operators.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
