<div>
  <h2 id="page-heading" data-cy="PurchaseOrderHeading">
    <span jhiTranslate="controTxApp.purchaseOrder.home.title">Purchase Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controTxApp.purchaseOrder.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchase-order"
        [routerLink]="['/purchase-order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controTxApp.purchaseOrder.home.createLabel"> Crear nuevo Purchase Order </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="purchaseOrders?.length === 0">
    <span jhiTranslate="controTxApp.purchaseOrder.home.notFound">Ningún Purchase Orders encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="purchaseOrders && purchaseOrders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.purchaseOrder.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="orderAmount">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.purchaseOrder.orderAmount">Order Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createAt">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.purchaseOrder.createAt">Create At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="iesOrderNumber">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.purchaseOrder.iesOrderNumber">Ies Order Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchaseOrder of purchaseOrders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/purchase-order', purchaseOrder.id, 'view']">{{ purchaseOrder.id }}</a>
          </td>
          <td>{{ purchaseOrder.orderAmount }}</td>
          <td>{{ purchaseOrder.createAt | formatMediumDatetime }}</td>
          <td>{{ purchaseOrder.iesOrderNumber }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/purchase-order', purchaseOrder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/purchase-order', purchaseOrder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(purchaseOrder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="purchaseOrders && purchaseOrders.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
