<div>
  <h2 class="text-capitalize text-center">Vinculacion de tarjetas</h2>
  <hr />
  <div *ngIf="errorMsg !== ''">
    <ngb-alert [type]="typeAlertErrorMsg">
      <strong
        [ngClass]="{ 'text-dark': typeAlertErrorMsg === 'warning' || typeAlertErrorMsg === 'success' || typeAlertErrorMsg === 'danger' }"
        class="h5"
      >
        {{ errorMsg }}
      </strong>
    </ngb-alert>
  </div>
  <section class="d-flex row gap-3">
    <div class="mb-1 col-4 row">
      <span class="px-1 h6 col-12">Número del contrato</span>
      <input type="number" [(ngModel)]="filters.reference" [ngModelOptions]="{ standalone: true }" />
    </div>
    <div class="mb-1 col-4 row">
      <span class="px-1 h6 col-12">Mac</span>
      <input type="text" [(ngModel)]="filters.mac" [ngModelOptions]="{ standalone: true }" />
    </div>

    <button type="submit" class="btn btn-primary col-1 mt-4" (click)="filter()">
      <span class="mr-4">Buscar</span>
      <fa-icon icon="search"></fa-icon>
    </button>

    <button type="submit" class="btn btn-primary col-1 mt-4" (click)="cleanFilters()">
      <span class="mr-4">Limpiar</span>
      <fa-icon icon="trash-alt"></fa-icon>
    </button>

    <button class="btn btn-primary col-1 mt-4" *jhiHasAnyAuthority="'ROLE_STORE'" (click)="modalAssignBoard()">
      <span>Asignar tarjeta</span>
      <fa-icon icon="link"></fa-icon>
    </button>
  </section>

  <div class="table-responsive table-link-contract-board" *ngIf="controlInterfaceBoards && controlInterfaceBoards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">
            <div class="d-flex"><span>Ubicación</span></div>
          </th>
          <th scope="col">
            <div class="d-flex"><span>Estado</span></div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span
                >Fecha de vinculación
                <nav></nav
              ></span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex"><span>Operador</span></div>
          </th>
          <th scope="col">
            <div class="d-flex"><span>Contrato</span></div>
          </th>
          <th scope="col">
            <div class="d-flex"><span>Tipo Contrato</span></div>
          </th>
          <th scope="col">
            <div class="d-flex"><span>Mac</span></div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let controlInterfaceBoard of controlInterfaceBoards" data-cy="entityTable">
          <td jhiTranslate="{{ 'controTxApp.Location.' + controlInterfaceBoard.location }}">{{ controlInterfaceBoard.location }}</td>
          <td jhiTranslate="{{ 'controTxApp.StatusInterfaceBoard.' + controlInterfaceBoard.state }}">{{ controlInterfaceBoard.state }}</td>
          <td>{{ controlInterfaceBoard.startTime!.toString() | date: 'yyyy-MM-dd HH:mm' }}</td>
          <td>
            <div *ngIf="controlInterfaceBoard.contract">
              <a [routerLink]="['/operator', controlInterfaceBoard!.contract!.operator?.id, 'view']">{{
                controlInterfaceBoard!.contract!.operator?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="controlInterfaceBoard.contract">
              <a [routerLink]="['/contract', controlInterfaceBoard.contract.id, 'view']">{{
                controlInterfaceBoard!.contract!.reference
              }}</a>
            </div>
          </td>
          <td
            *ngIf="controlInterfaceBoard.contract"
            jhiTranslate="{{ 'controTxApp.ContractType.' + controlInterfaceBoard!.contract!.type }}"
          ></td>
          <td>
            <div *ngIf="controlInterfaceBoard.interfaceBoard">
              <a [routerLink]="['/interface-board', controlInterfaceBoard.interfaceBoard.id, 'view']">{{
                controlInterfaceBoard!.interfaceBoard!.mac
              }}</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination" *ngIf="controlInterfaceBoards && controlInterfaceBoards.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: pageSize }"></jhi-item-count>
    </div>
    <button [disabled]="page === 0" (click)="prevPage()">Anterior</button>
    <span>{{ page }} / {{ totalPages }}</span>
    <button [disabled]="page === totalPages" (click)="nextPage()">Siguiente</button>
  </div>

  <ng-template #assignBoardTpl let-modal>
    <div *ngIf="errorMsg !== ''">
      <ngb-alert [type]="typeAlertErrorMsg">
        <strong
          [ngClass]="{ 'text-dark': typeAlertErrorMsg === 'warning' || typeAlertErrorMsg === 'success' || typeAlertErrorMsg === 'danger' }"
          class="h5"
        >
          {{ errorMsg }}
        </strong>
      </ngb-alert>
    </div>

    <form class="p-5" name="formAssignBoard" role="form" novalidate [formGroup]="formAssignBoard" aria-label="assgin boards">
      <div class="justify-content-between fw-bold">
        <h3 class="pb-3" data-cy="AssingBoardHeading">Asignación de tarjetas</h3>
        <h3>
          Tarjetas disponibles en Stock: <span class="text-warning">{{ numberBoardInStock }} </span>
        </h3>
      </div>

      <div class="content">
        <div class="gap-3 flex-column d-flex align-items-center justify-content-between">
          <div class="gap-2 w-100 d-flex align-items-center justify-content-between">
            <div class="col-6">
              <label>Operador</label>
              <select
                id="inputState"
                (change)="onSelectContractChange($event)"
                class="form-control"
                formControlName="reference"
                [ngClass]="{ valid: !formAssignBoard.get('reference')?.errors, invalid: formAssignBoard.get('reference')!.invalid }"
              >
                <option [value]="contract.reference" *ngFor="let contract of contractsFilter">
                  {{ contract.operator?.name }}
                </option>
              </select>
            </div>

            <div class="col-6">
              <label>Tipo de Contrato</label>
              <select
                id="inputState"
                class="form-control"
                formControlName="contractType"
                (change)="onSelectContractTypeChange($event)"
                [ngClass]="{ valid: !formAssignBoard.get('contractType')?.errors, invalid: formAssignBoard.get('contractType')!.invalid }"
              >
                <option [value]="type" jhiTranslate="{{ 'controTxApp.ContractType.' + type }}" *ngFor="let type of contractsType">
                  {{ type }}
                </option>
              </select>
            </div>
          </div>

          <div class="row" *ngIf="formAssignBoard.get('contractType')?.value">
            <div class="col fw-bold">
              <label
                >Tarjetas Contratadas: <span class="text-danger">{{ infoContracts.boardContracted }} </span>
              </label>
            </div>
            <div class="col fw-bold">
              <label
                >Tarjetas Asociadas: <span class="text-danger">{{ infoContracts.boardsAssigned }} </span>
              </label>
            </div>
            <hr />
            <span class="fw-bold text-warning">Max tarjetas a asociar {{ infoContracts.maxAmountForAssignment }}</span>
            <input
              type="number"
              class="col-6 form-control"
              formControlName="amountToAssociate"
              placeholder="Ingrese la cantidad de tarjetas"
              [ngClass]="{
                valid: !formAssignBoard.get('amountToAssociate')?.errors,
                invalid: formAssignBoard.get('amountToAssociate')!.invalid
              }"
            />
            <div
              *ngIf="
                formAssignBoard.get('amountToAssociate')!.invalid &&
                (formAssignBoard.get('amountToAssociate')!.dirty || formAssignBoard.get('amountToAssociate')!.touched)
              "
            >
              <span class="fw-bold text-danger" *ngIf="formAssignBoard.get('amountToAssociate')!.invalid"> valor de ser superior a 0 </span>
            </div>
            <span class="fw-bold text-danger" *ngIf="!viable2Assign">Supera el monto disponible para asociar </span>
          </div>
        </div>

        <hr />
        <div class="d-flex justify-content-between">
          <div>
            <button
              [disabled]="
                formAssignBoard.get('contractType')!.invalid || formAssignBoard.get('amountToAssociate')!.invalid || !viable2Assign
              "
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              class="btn btn-success btn-block"
              (click)="assignBoard()"
            >
              <fa-icon icon="save"></fa-icon>
              &nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>

          <div>
            <button type="button" (click)="cleanFormAssignBoard()" (click)="modal.close()" class="btn btn-danger btn-block">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</div>
