<ngb-accordion #acc="ngbAccordion">
  <ngb-panel id="toggle-1" title="Marcas">
    <ng-template ngbPanelContent>
      <div class="table-responsive table-entities" id="entities" *ngIf="brandsCompleteInfo && brandsCompleteInfo.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="controTxApp.brand.id">Id</span>
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="controTxApp.brand.name">Name</span>
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </th>
              <th scope="col">
                <span>Total Tarjetas Contratadas</span>
              </th>
              <th scope="col">
                <span>Total Tarjetas Asignadas</span>
              </th>
              <th scope="col">
                <span>Detalles</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let brandComplete of brandsCompleteInfo" data-cy="entityTable">
              <td>{{ brandComplete.brand!.id }}</td>
              <td>{{ brandComplete.brand!.name }}</td>
              <td>{{ brandComplete.totalAmountBoardcontracted }}</td>
              <td>{{ brandComplete.totalAmountBoardAssigned }}</td>
              <td class="d-flex">
                <div class="btn-group">
                  <button type="submit" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Ver Operadores</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination" *ngIf="brandsCompleteInfo && brandsCompleteInfo.length > 0">
        <div class="d-flex justify-content-center">
          <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: pageSize }"></jhi-item-count>
        </div>
        <button [disabled]="page === 0" (click)="prevPage()">Anterior</button>
        <span>{{ page }} / {{ totalPages }}</span>
        <button [disabled]="page === totalPages" (click)="nextPage()">Siguiente</button>
      </div>
    </ng-template>
  </ngb-panel>

  <ngb-panel id="toggle-2" title="Operadores">
    <ng-template ngbPanelContent>
      <div class="table-responsive table-entities" id="entities" data-cy="entityTable" *ngIf="operators && operators.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col">Nombre del Operador</th>
              <th scope="col">Tipo de Contrato</th>
              <th scope="col">Cantidad Asociada</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let operador of operators">
              <tr *ngFor="let contrato of operador.contratos; let first = first">
                <td *ngIf="first" [attr.rowspan]="operador.contratos.length" class="centered-name">{{ operador.nombre }}</td>
                <td>{{ contrato.tipo }}</td>
                <td>{{ contrato.cantidad }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
