<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-data-sheet-interface-heading"
        data-cy="DataSheetInterfaceCreateUpdateHeading"
        jhiTranslate="controTxApp.dataSheetInterface.home.createOrEditLabel"
      >
        Crear o editar Data Sheet Interface
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="controTxApp.dataSheetInterface.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controTxApp.dataSheetInterface.colcircuitosLotNumber" for="field_colcircuitosLotNumber"
            >Colcircuitos Lot Number</label
          >
          <input
            type="number"
            class="form-control"
            name="colcircuitosLotNumber"
            id="field_colcircuitosLotNumber"
            data-cy="colcircuitosLotNumber"
            formControlName="colcircuitosLotNumber"
          />
          <div
            *ngIf="
              editForm.get('colcircuitosLotNumber')!.invalid &&
              (editForm.get('colcircuitosLotNumber')!.dirty || editForm.get('colcircuitosLotNumber')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('colcircuitosLotNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('colcircuitosLotNumber')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controTxApp.dataSheetInterface.orderAmount" for="field_orderAmount">Order Amount</label>
          <input
            type="number"
            class="form-control"
            name="orderAmount"
            id="field_orderAmount"
            data-cy="orderAmount"
            formControlName="orderAmount"
          />
          <div *ngIf="editForm.get('orderAmount')!.invalid && (editForm.get('orderAmount')!.dirty || editForm.get('orderAmount')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('orderAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('orderAmount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controTxApp.dataSheetInterface.amountReceived" for="field_amountReceived"
            >Amount Received</label
          >
          <input
            type="number"
            class="form-control"
            name="amountReceived"
            id="field_amountReceived"
            data-cy="amountReceived"
            formControlName="amountReceived"
          />
          <div
            *ngIf="
              editForm.get('amountReceived')!.invalid && (editForm.get('amountReceived')!.dirty || editForm.get('amountReceived')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('amountReceived')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('amountReceived')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controTxApp.dataSheetInterface.remission" for="field_remission">Remission</label>
          <input type="text" class="form-control" name="remission" id="field_remission" data-cy="remission" formControlName="remission" />
          <div *ngIf="editForm.get('remission')!.invalid && (editForm.get('remission')!.dirty || editForm.get('remission')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('remission')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('remission')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 30 }"
            >
              Este campo no puede superar más de 30 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controTxApp.dataSheetInterface.entryDate" for="field_entryDate">Entry Date</label>
          <div class="d-flex">
            <input
              id="field_entryDate"
              data-cy="entryDate"
              type="datetime-local"
              class="form-control"
              name="entryDate"
              formControlName="entryDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('entryDate')!.invalid && (editForm.get('entryDate')!.dirty || editForm.get('entryDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('entryDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('entryDate')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Este campo debe ser una fecha y hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controTxApp.dataSheetInterface.iesOrderNumber" for="field_iesOrderNumber"
            >Ies Order Number</label
          >
          <input
            type="number"
            class="form-control"
            name="iesOrderNumber"
            id="field_iesOrderNumber"
            data-cy="iesOrderNumber"
            formControlName="iesOrderNumber"
          />
          <div
            *ngIf="
              editForm.get('iesOrderNumber')!.invalid && (editForm.get('iesOrderNumber')!.dirty || editForm.get('iesOrderNumber')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('iesOrderNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('iesOrderNumber')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
