<ngb-accordion #acc="ngbAccordion">
  <ngb-panel id="toggle-1" title="Ordenes de Compra">
    <ng-template ngbPanelContent>
      <div class="table-responsive table-entities" id="entities" *ngIf="purchaseOrderComplete && purchaseOrderComplete.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="controTxApp.purchaseOrder.id">Id</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="controTxApp.purchaseOrder.orderAmount">Order Amount</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="controTxApp.purchaseOrder.createAt">Create At</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="controTxApp.purchaseOrder.iesOrderNumber">Ies Order Number</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="controTxApp.receptionOrder.amountReceived">Cantidad Recibida</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span>Detalles</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of purchaseOrderComplete" data-cy="entityTable">
              <td>{{ item.purchaseOrder?.id }}</td>
              <td>{{ item.purchaseOrder?.orderAmount }}</td>
              <td>{{ item.purchaseOrder?.createAt!.toString() | date: 'yyyy-MM-dd HH:mm' }}</td>
              <td>{{ item.purchaseOrder?.iesOrderNumber }}</td>
              <td>{{ item.purchaseOrder?.amountReceived }}</td>
              <td>
                <div class="btn-group">
                  <button
                    type="submit"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                    (click)="showReceptionOrder(item.purchaseOrder!.id, receptionOrderListTpl)"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<ng-template #receptionOrderListTpl let-modal>
  <div class="table-responsive table-entities" id="entities" *ngIf="receptionOrderListSelected && receptionOrderListSelected.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.receptionOrder.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.receptionOrder.providerLotNumber">Provider Lot Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.receptionOrder.amountReceived">Amount Received</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.receptionOrder.remission">Remission</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.receptionOrder.entryDate">Entry Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.receptionOrder.warrantyDate">Warranty Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.receptionOrder.purchaseOrder">Purchase Order Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.purchaseOrder.iesOrderNumber">Order IES</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.purchaseOrder.orderAmount">Order Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receptionOrder of receptionOrderListSelected" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reception-order', receptionOrder.id, 'view']">{{ receptionOrder.id }} </a>
          </td>
          <td>{{ receptionOrder.providerLotNumber }}</td>
          <td>{{ receptionOrder.amountReceived }}</td>
          <td>{{ receptionOrder.remission }}</td>
          <td>{{ receptionOrder.entryDate!.toString() | date: 'yyyy-MM-dd HH:mm' }}</td>
          <td>{{ receptionOrder.warrantyDate!.toString() | date: 'yyyy-MM-dd HH:mm' }}</td>
          <td *ngIf="receptionOrder.purchaseOrder">{{ receptionOrder.purchaseOrder.id }}</td>
          <td>
            <div *ngIf="receptionOrder.purchaseOrder">
              <a [routerLink]="['/purchase-order', receptionOrder.purchaseOrder.id, 'view']"
                >{{ receptionOrder.purchaseOrder.iesOrderNumber }}
              </a>
            </div>
          </td>
          <td *ngIf="receptionOrder.purchaseOrder">{{ receptionOrder.purchaseOrder.orderAmount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
