.board-details {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;

  /* Agrega más estilos según sea necesario */
}

.quantity {
  font-weight: bold;
  /* Agrega más estilos según sea necesario */
}
