<div>
  <div class="table-responsive table-entities" *ngIf="interfaceBoards && interfaceBoards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.interfaceBoard.mac">Mac</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="controTxApp.interfaceBoard.receptionOrder">Reception Order</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let interfaceBoard of interfaceBoards" data-cy="entityTable">
          <td>{{ interfaceBoard.mac }}</td>
          <td>
            <div *ngIf="interfaceBoard.receptionOrder">
              <a [routerLink]="['/reception-order', interfaceBoard.receptionOrder.id, 'view']">{{
                interfaceBoard.receptionOrder.providerLotNumber
              }}</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination" *ngIf="interfaceBoards && interfaceBoards.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: pageSize }"></jhi-item-count>
    </div>
    <button [disabled]="page === 0" (click)="prevPage()">Anterior</button>
    <span>{{ page }} / {{ totalPages }}</span>
    <button [disabled]="page === totalPages" (click)="nextPage()">Siguiente</button>
  </div>
</div>
